
* {
    font-family: 'Helvetica', Arial, sans serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* background-color: #81ecec; */
    background-color: #121212;
    color: #ffffff;
}
.heading {  
    display:flex;
    justify-content: space-evenly    
}
.flex-container {
      display: flex;
}
/* for the top bar menus */
.menu-container {
    
    display:flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;

    
    
}


.menu-item {
    
    /*background-color: #00b894;*/
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 5px;
    margin: 10px;
    color: #ffffff;
} 

.clickable-box{
    text-decoration: none;

}
.clickable-box:hover {
    background-color: #023047; /* Change color on hover */
}

